:root {
    --background-color: #FCE5F1;
    --text-color: #000000;
    --button-color: #9D9D9C;
    --text-font: Avenir Book, sans-serif ;
    --header-font: Avenir medium, sans-serif ;
    --title-font: Huset regular, sans-serif;

}
.searchElm{
  color: var(--button-color);
  font-size: .5em;
    font-family: var(--text-font);
}

h1, .date p{
    font-family: var(--header-font);
    text-align: center;
    font-size: 7vw;
}


body {
    background-color: var(--background-color);
    ;
}

header {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;

}

section#posts {
    display: grid;
    grid-template-columns: 1fr;
}

section#posts img {
    width: 70vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu img {
    width: 3vw;
    height: auto;
    margin-left: 3vw;
}

.filter img {
    width: 3vw;
    height: auto;
    float: right;

}

.hide {
    display: none;
}
.postTemplate{
    display: flex;
    text-align: center;

}
