:root {
    --background-color: #FCE5F1;
    --text-color: #000000;
    --button-color: #9D9D9C;
    --text-font: Avenir Book, sans-serif ;
    --header-font: Avenir medium, sans-serif ;
    --title-font: Huset regular, sans-serif;

}

h1{
    font-family: var(--header-font);
}


body {
    background-color: var(--background-color);
    ;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

section#posts {
    display: grid;
    grid-template-columns: 1fr;
}

section#posts img {
    width: 80vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu img {
    width: 3vw;
    height: auto;
    margin-left: 3vw;
}

.filter img {
    width: 3vw;
    height: auto;
    float: right;

}

.hide {
    display: none;
}
